
@import "bourbon/bourbon";

@import "variables";
@import "base/base";

@import "layout";
@import "syntax-highlighting";

@media all and (max-width: 568px) {
  .navbar {
    position: relative;
    top: 4px;
    left: 10px;
  }
  .navbar li {
    padding: 0 .1em;
  }
}
